/*.thumbnail {
    border: none;
    box-shadow: none;
}*/

/* To avoid the room images becoming too large or too small */

.thumbnail-rooms {
    position: relative;
    height: 190px;
}

.thumbnail-rooms img {
    height: 100px;
}

.thumbnail-rooms p {
    word-wrap: break-word;
}

.dropdown-menu-rooms {
    min-width: 250px;
    padding: 17px;
}

.create-new-room img {
    opacity: 0.4;
}

.countdown-timer {
    position: absolute;
    bottom: 3%;
    left:0;
    margin: auto;
    width: 100%;
    opacity: 0.4;
}